@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    width: 100% !important;
}

html{
        scroll-behavior: smooth;
}

.bg-theme{
    /* background-color: #fbe4f2; */
    background-color: #ffadc7;
}

.bg-nav-moblie{
    color: #fff !important;
    background-color: #f5375d;
}

.btn-color-theme{
    color: #fff !important;
    background-color: #f5375d;
}

.btn-color-theme:hover{
    color: #fff !important;
    background-color: #c32d4b;
}

.text-theme{
    color: #f5375d;
}

.ft-20{
    width: 20px;
    height: 20px;
}
.ft-18{
    width: 18px;
    height: 18px;
}
.ft-14{
    width: 14px;
    height: 14px;
}

a:hover{
    color: #c32d4b;
} 

.border-radius-7{
    border-radius: 7px;
}
.border-radius-10{
    border-radius: 10px;
}

.btn-outline-theme{
    border: 1px solid #f5375d;
    color: #f5375d !important;
}

.btn-outline-theme:hover{
    background-color: #c32d4b;
    border-color: #c32d4b;
    color: #fff !important;
}

.navbar .navbar-nav li{
    font-size: 16px;
    padding-left:  15px;
}

.shadow-sm {
    box-shadow: 0 0 1.25rem rgba(11,37,75,.05);
}

.shadow-hover {
    transition: 0.5s ease-in-out;
}

.home-img img{
    max-width: 250px;
    width: 100%;
}

.home-img{
    position: relative;
    margin-top: 80px;
}

.home-img .circle{
    position: absolute;
    z-index: 1;
    height: 300px;
    width: 300px;
    border: 1.5px solid rgb(255 112 112 / 62%);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-img .circle::before{
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: rgb(255 157 157 / 50%);
    border-radius: 50%;
    top: 19px;
    left: 19px;
    transform-origin: 130px 130px;
    animation: spin_01 10s linear infinite;
}

.text-orange{
    color: #F09613 !important;
}

.budge-muted{
    color: #6F6F6F;
    background-color: #f3f3f3;
}

#cover-mobile{
    display: none;
}

#cover-web{
    margin-top: 60px;
}

.event-list .event-item {
    height: 190px;
    padding: 1rem 1.9rem;
    margin: 0 0.9375rem 1.875rem 0.9375rem;
    background-color: #ffffff;
    border-radius: 8px;
    border: solid 1px rgba(105, 63, 63, 0.479);
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.event-list .event-item.featured {
    border: 1.5px solid #68cbd7;
}

.event-list .event-item .event-schedule {
    color: #3c4142;
    margin-bottom: 0.625rem;
}

.event-list .event-item .event-schedule .event-icon {
    stroke-width: 1px;
    width: 1.125rem;
    height: 1.125rem;
    margin: 0.6875rem 1rem 0 0;
}

.event-list .event-item .event-schedule .event-day {
    margin-right: 0rem;
    line-height: 100%;
}

.event-list .event-item .event-schedule .event-month-time {
    font-weight: 200;
    font-size: 22px;
    display: flex;
    line-height: 118%;
    flex-direction: column;
    justify-content: center;
}

.event-list .event-item .event-schedule .event-month-time span {
    display: block;
    text-transform: uppercase;
}

.event-list .event-item .event-title {
    display: block;
    margin-bottom: 0.625rem;
    font-weight: 300;
    color: #3c4142;
}

.event-list .event-item .event-title:hover {
    color: #68cbd7;
    text-decoration: none;
}

.event-list .event-item .event-content {
    color: #b1bac5;
    margin-bottom: 0.625rem;
    font-size: 12px;
    font-weight: 300;
}

.event-list .event-item .event-participants {
    padding: 0;
    margin: 0;
}

.event-list .event-item .event-participants .event-user {
    width: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.event-list .event-item .event-participants .event-user .event-user-inital {
    font-size: 13px;
    line-height: 100%;
}

.event-list .event-item .event-participants {
    display: flex !important;
}

.event-list .event-item .event-participants .event-user .event-user-pic {
    width: 100%;
    border-radius: 50%;
}

.event-list .event-item .event-participants li + li {
    margin-left: -10px;
}


.event-list .event-item .event-participants {
    flex-direction: row !important;
}
.event-list .event-item .event-participants {
    padding: 0;
    margin: 0;
}

.bg-soft-primary {
    background-color: #fadcdc;
}

.bg-soft-danger {
    background-color: #fedce0;
}

.bg-soft-info {
    background-color: #d7efff;
}

.bg-soft-success {
    background-color: #d1f6f2;
}

.event-list .event-item .event-schedule, .event-list .event-item .event-participants{
    display: flex !important;
}


/* .owl-prev {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  margin-left: 0;
  display: block !important;
  background-image: linear-gradient(to right, #ffffffcc, transparent) !important;
} */

.owl-prev .owl-nav-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-prev .owl-nav-wrapper svg, .owl-prev .owl-nav-wrapper i {
  color: #ffffff;
  width: 20px;
  height: 20px;
}

/* .owl-next {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: block !important;
  background-image: linear-gradient(to right, transparent, #ffffffcc) !important;
} */

.owl-next .owl-nav-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.owl-next .owl-nav-wrapper svg, .owl-next .owl-nav-wrapper i {
  color: #ffffff;
  width: 20px;
  height: 20px;
}

.owl-dots {
  text-align: center;
  margin-top: .5rem;
}

.owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #cbcbcb !important;
  margin-right: 5px;
  display: inline-block;
}

.owl-dots .owl-dot.active {
  background: #757575 !important;
}

.text-primary, .task-list-wrapper .completed .remove {
    color: #4e73e5 !important;
}

.bg-gradien-pink{
    background-image: linear-gradient(to right, #ff74ae , #ffb2bb) !important;
}
.bg-gradien-biru{
    background-image: linear-gradient(to right, #43b2ff , #0ee0eb) !important;
}
.bg-gradien-orange{
    background-image: linear-gradient(to right, #ff894a , #ffb57d) !important;
}
.bg-gradien-ungu{
    background-image: linear-gradient(to right, #6a59f3 , #b79bfe) !important;
}
.bg-gradien-hijau{
    background-image: linear-gradient(to right, #0fc1c4 , #aaebb7) !important;
}
.bg-gradien-merah{
    background-image: linear-gradient(to right, #fc6f5c , #f29e91) !important;
}

@media(max-width: 768px) {
    .owl-item p{
        font-size: 12px !important;
    }
    .owl-item h3{
        font-size: 16px !important;
    }
    .navbar-collapse{
        margin: 0px 30px 0px 30px;
    }
    .navbar-nav .btn-outline-theme{
        margin-top: 10px;
    }
    .hero img{
        width: 350px;
        margin-top: 19px;
    }
    .about img{
        width: 100px !important;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .popular-barber{
        padding: 0px 15px 0px 15px;
    }
    .popular-barber img{
        width: 100%;
        margin-bottom: 10px;
    }
    .home-img img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 200px;
        width: 100%;
    }
    .home-img .circle{
        position: absolute;
        z-index: 1;
        height: 250px;
        width: 250px;
        border: 1.5px solid rgb(255 112 112 / 62%);
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-bottom: 20px;
    }
    
    .home-img .circle::before{
        content: '';
        position: absolute;
        height: 50px;
        width: 50px;
        background-color: rgb(255 157 157 / 50%);
        border-radius: 50%;
        top: 8px;
        left: 10px;
        transform-origin: 115px 115px;
        animation: spin_01 10s linear infinite;
    }

    #cover-mobile{
        display: block;
        margin-top: 60px;
    }

    #cover-web{
        display: none;
    }

    #nav-web{
        display: none;
    }

    /* #nav-mobile{
        display: block;
    } */
}

@keyframes spin_01{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* .popular-barber{
    padding: 0px 80px 0px 80px;
} */