<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Website Profil Pribadi dari Alfian Taufani">
    <meta name="author" content="Alfian Taufani">
    <meta name="keywords" content="Alfian Taufani, Portfolio Alfian Taufani, Website Profil, Jombang">
    <meta property="og:url" content="http://alfian-taufani.netlify.app/index.html">
    <meta property="og:site_name" content="Alfian Taufani">
    <meta property="og:description" content="Website Resmi Alfian Taufani">
    <meta property="og:image" content="https://alfian-taufani.netlify.app/assets/images/ME.jpg">
    <meta property="twitter:site" content="Alfian Taufani">
    <meta property="twitter:site:id" content="">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:description" content="Website Profil Pribadi dari Alfian Taufani">
    <meta property="twitter:image:src" content="https://alfian-taufani.netlify.app/assets/images/ME.jpg">

    <link rel="shortcut icon" href="assets/images/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- style.css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- AOS -->
    <link rel="stylesheet" href="assets/js/aos-master/dist/aos.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
    <!-- Animet.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <title><%= data.title %></title>


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-default fixed-top bg-theme">
        <div class="container">
            <div class="navbar-brand">
                <h4 class="font-weight-bold">My <span class="text-theme">Portofolio</span> </h4>
                <!-- <a href="index.html"><img src="assets/images/logo.png" width="150" alt=""></a> -->
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="nav-web">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#cover-web" class="nav-link pl-3 pr-3 text-white"><i data-feather="home" class="ft-20 mb-1"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#skill" class="nav-link pl-3 pr-3 text-white"><i data-feather="award" class="ft-20 mb-1"></i> Skill</a>
                    </li>
                    <li class="nav-item">
                        <a href="#portofolio" class="nav-link pl-3 pr-3 text-white"><i data-feather="briefcase" class="ft-20 mb-1"></i> Portofolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link pl-3 pr-3 text-white"><i data-feather="phone-call" class="ft-20 mb-1"></i> Hubungi Saya</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand navbar-dark bg-nav-moblie text-white fixed-bottom d-md-none d-lg-none d-xl-none" id="nav-mobile">
        <ul class="navbar-nav nav-justified w-100">
            <li class="nav-item">
                <a href="#cover-mobile" class="nav-link"><i data-feather="home"></i></a>
            </li>
            <li class="nav-item">
                <a href="#skill" class="nav-link"><i data-feather="award"></i></a>
            </li>
            <li class="nav-item">
                <a href="#portofolio" class="nav-link"><i data-feather="briefcase"></i></a>
            </li>
            <li class="nav-item">
                <a href="#contact" class="nav-link"><i data-feather="phone-call"></i></a>
            </li>
        </ul>
    </nav>

    <section class="bg-theme" id="cover-mobile" style="background-image: url(assets/images/square-group.svg); background-repeat: no-repeat; background-position-y: 1px;">
        <div class="container">
            <div class="mb-4 pb-4">
                <div class="row">
                    <div class="col-md-5 " data-aos="fade-down" data-aos-duration="2000">
                        <div class="home-img text-center mb-4">
                            <div class="circle"></div>
                            <img src="assets/images/ME.jpg" class="rounded-circle img-fluid animate__animated animate__pulse animate__infinite" width="250" alt="">
                        </div>
                    </div>
                    <div class="col-md-7" data-aos="fade-up" data-aos-duration="2000">
                        <h1 class="font-weight-bold text-center mt-4">Hai, </h1>
                        <span class="text-slider-items" style="display: none;">Ini Portofolioku</span>
                        <h1 class="font-weight-bold text-center">
                            <strong class="text-slider"></strong>
                        </h1>
                        <p class="text-white text-center mt-4">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. </p>
                        <a href="https://drive.google.com/file/d/1GLW6_HhoZxLYVQEi4cnQ4Oj4ZwPfU0Wd/view?usp=sharing" target="_blank" class="btn btn-color-theme btn-block pr-4 pl-4 pt-2 pb-2 mt-4">Download CV <i data-feather="download" class="mb-1"></i></a>
                        <a href="https://wa.me/6281383167850" target="_blank" class="btn btn-outline-theme btn-block pr-4 pl-4 pt-2 pb-2 mt-4">Hubungi Saya <i data-feather="phone" class="mb-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-theme" id="cover-web" style="background-image: url(assets/images/square-group.svg); background-repeat: no-repeat; background-position-y: -20px;">
        <div class="container">
            <div class="mb-5 pb-5 pt-5">
                <div class="row">
                    <div class="col-md-7 mb-5" data-aos="fade-up" data-aos-duration="2000">
                        <h1 class="font-weight-bold">Hai, </h1>
                        <span class="text-slider-web-items" style="display: none;">Ini Portofolioku</span>
                        <h1 class="font-weight-bold">
                            <strong class="text-slider-web"></strong>
                        </h1>
                        <p class="text-white mt-4">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. </p>
                        <a href="https://drive.google.com/file/d/1GLW6_HhoZxLYVQEi4cnQ4Oj4ZwPfU0Wd/view?usp=sharing" target="_blank" class="btn btn-color-theme pr-4 pl-4 pt-2 pb-2 mt-4 shadow">Download CV <i data-feather="download" class="mb-1"></i></a>
                        <a href="https://wa.me/6281383167850" target="_blank" class="btn btn-outline-theme pr-4 pl-4 pt-2 pb-2 mt-4">Hubungi Saya <i data-feather="phone" class="mb-1"></i></a>
                    </div>
                    <div class="col-md-5 mb-5" data-aos="fade-down" data-aos-duration="2000">
                        <div class="home-img text-center">
                            <div class="circle"></div>
                            <img src="assets/images/ME.jpg" class="rounded-circle img-fluid animate__animated animate__pulse animate__infinite" width="250" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about mt-2 mb-5" id="skill">
        <div class="container">
            <div class="row mt-4 pt-4">
                <div class="col-md-12">
                    <h3 class="font-weight-bold mt-5"><span class="text-theme">Skill</span> Saya</h3>
                    <p class="text-muted mt-3">Beberapa skill yang saya pelajari</p>
                    <div id="events" class="event-list owl-carousel owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage">
                                <div class="owl-item active" style="width: 768px;">
                                    <div class="card border-radius-10 shadow border-1 mb-4 ml-3 mr-3">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <img src="assets/images/skill/html.png" width="100" class="border-radius-10 mb-3 img-responsive" alt="">
                                                </div>
                                                <div class="col-sm-8">
                                                    <a href="" class="text-decoration-none text-dark">
                                                        <h3 class="font-weight-bold">HTML</h3>
                                                    </a>
                                                    <div class="progress" style="height: 20px;">
                                                        <div class="progress-bar bg-gradien-pink" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                                    </div>
                                                    <p class="mt-2 text-muted">85% berpengalaman dalam menggunakan html</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="owl-item" style="width: 768px;">
                                    <div class="card border-radius-10 shadow border-1 mb-4 ml-3 mr-3">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <img src="assets/images/skill/css.png" width="100" class="border-radius-10 mb-3 img-mobile" alt="">
                                                </div>
                                                <div class="col-sm-8">
                                                    <a href="" class="text-decoration-none text-dark">
                                                        <h3 class="font-weight-bold">CSS</h3>
                                                    </a>
                                                    <div class="progress" style="height: 20px;">
                                                        <div class="progress-bar bg-gradien-biru" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                                                    </div>
                                                    <p class="mt-2 text-muted">60% berpengalaman dalam menggunakan CSS</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="owl-item" style="width: 768px;">
                                    <div class="card border-radius-10 shadow border-1 mb-4 ml-3 mr-3">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <img src="assets/images/skill/js.png" width="100" class="border-radius-10 mb-3 img-mobile" alt="">
                                                </div>
                                                <div class="col-sm-8">
                                                    <a href="" class="text-decoration-none text-dark">
                                                        <h3 class="font-weight-bold">Java Script</h3>
                                                    </a>
                                                    <div class="progress" style="height: 20px;">
                                                        <div class="progress-bar bg-gradien-orange" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                                                    </div>
                                                    <p class="mt-2 text-muted">55% berpengalaman dalam menggunakan Java Script</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="owl-item" style="width: 768px;">
                                    <div class="card border-radius-10 shadow border-1 mb-4 ml-3 mr-3">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <img src="assets/images/skill/php.png" width="100" class="border-radius-10 mb-3 img-mobile" alt="">
                                                </div>
                                                <div class="col-sm-8">
                                                    <a href="" class="text-decoration-none text-dark">
                                                        <h3 class="font-weight-bold">PHP</h3>
                                                    </a>
                                                    <div class="progress" style="height: 20px;">
                                                        <div class="progress-bar bg-gradien-ungu" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                                                    </div>
                                                    <p class="mt-2 text-muted">70% berpengalaman dalam menggunakan PHP</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="owl-item" style="width: 768px;">
                                    <div class="card border-radius-10 shadow border-1 mb-4 ml-3 mr-3">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <img src="assets/images/skill/ci.png" width="100" class="border-radius-10 mb-3 img-mobile" alt="">
                                                </div>
                                                <div class="col-sm-8">
                                                    <a href="" class="text-decoration-none text-dark">
                                                        <h3 class="font-weight-bold">Codeigniter</h3>
                                                    </a>
                                                    <div class="progress" style="height: 20px;">
                                                        <div class="progress-bar bg-gradien-hijau" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                                    </div>
                                                    <p class="mt-2 text-muted">65% berpengalaman dalam menggunakan Codeigniter</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="owl-item" style="width: 768px;">
                                    <div class="card border-radius-10 shadow border-1 mb-4 ml-3 mr-3">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <img src="assets/images/skill/laravel.png" width="100" class="border-radius-10 mb-3 img-mobile" alt="">
                                                </div>
                                                <div class="col-sm-8">
                                                    <a href="" class="text-decoration-none text-dark">
                                                        <h3 class="font-weight-bold">Laravel</h3>
                                                    </a>
                                                    <div class="progress" style="height: 20px;">
                                                        <div class="progress-bar bg-gradien-merah" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                                                    </div>
                                                    <p class="mt-2 text-muted">40% berpengalaman dalam menggunakan Laravel</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="popular-barber mb-5 bg-gradien-pink" id="portofolio">
        <div class="container mb-5 pb-5">
            <div class="row mt-4 pt-3 pl-3">
                <h3 class="font-weight-bold mt-5">Portofolio <span class="text-theme">Saya</span> </h3>
                <div class="ml-auto mt-4 pt-4">
                    <a href="portfolio.html" class="text-white text-decoration-none">Lihat semua <i data-feather="chevron-right"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-white mt-3">Beberapa project yang saya kerjakan</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-3 mb-2">
                    <div class="card border-radius-10 shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="assets/images/portofolio/bisma-sidedi-panel.netlify.app_.png" width="240" class="border-radius-7" alt="">
                                </div>
                                <div class="col-sm-6">
                                    <a href="" class="text-decoration-none text-theme">
                                        <h4 class="font-weight-bold">Client Area - Sidedi Panel</h4>
                                    </a>
                                    <small class="text-muted">Client Area merupakan projek yang dikembangkan...</small><br>
                                    <small class="badge budge-muted mt-2 p-1 pl-2 pr-2 text-orange"><i data-feather="tag" width="20"></i> Website</small>
                                    <small class="badge budge-muted mt-2 p-1 pl-2 pr-2 text-orange"><i data-feather="tag" width="20"></i> Admin</small>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-3 mb-2">
                    <div class="card border-radius-10 shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="assets/images/portofolio/barber-alfian.netlify.app_.png" width="240" class="border-radius-7" alt="">
                                </div>
                                <div class="col-sm-6">
                                    <a href="" class="text-decoration-none text-theme">
                                        <h4 class="font-weight-bold">Go Barber - Barber Shop Booking</h4>
                                    </a>
                                    <small class="text-muted">Go Barber merupakan sebuah platform yang menyediakan...</small><br>
                                    <small class="badge budge-muted mt-2 p-1 pl-2 pr-2 text-orange"><i data-feather="tag" width="20"></i> Website</small>
                                    <small class="badge budge-muted mt-2 p-1 pl-2 pr-2 text-orange"><i data-feather="tag" width="20"></i> Landing Page</small>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about mt-2 mb-5" id="contact">
        <div class="container">
            <div class="row mt-4 pt-4">
                <div class="col-md-12">
                    <h3 class="font-weight-bold mt-5"><span class="text-theme">Kontak</span> Saya</h3>
                    <p class="text-muted mt-3">Beberapa kontak dan sosial media saya</p>
                </div>
                <div class="col-md-5">
                    <p class="text-muted">Tinggalkan pesan pesan dibawah ini.</p>
                    <form action="">
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Nama Anda" id="">
                        </div>
                        <div class="form-group">
                            <input type="email" name="" class="form-control" placeholder="Email Anda" id="">
                        </div>
                        <div class="form-group">
                            <textarea name="" id="" cols="5" rows="2" class="form-control" placeholder="Tulisan Pesan"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-color-theme btn-block pr-4 pl-4 pt-2 pb-2">Kirim</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col">
                            <h6 class="font-weight-bold">Sosial Media</h6>
                            <ul class="list-group list-unstyled">
                                <li class="pb-2"><a href="#" class="text-muted"><i data-feather="facebook" class="ft-20 mb-1"></i> Alfian Taufani</a></li>
                                <li class="pb-2"><a href="#" class="text-muted"><i data-feather="instagram" class="ft-20 mb-1"></i> @alfian_taufani</a></li>
                                <li class="pb-2"><a href="#" class="text-muted"><i data-feather="twitter" class="ft-20 mb-1"></i> @alfian_taufani</a></li>
                                
                            </ul>
                        </div>
                        <div class="col">
                            <h6 class="font-weight-bold">Hubungi Kami</h6>
                            <p class="text-muted">
                                <i data-feather="mail" class="ft-20 mb-1"></i> <small>alfiantaufani@gmail.com</small> <br><br> 
                                <i data-feather="phone-call" class="ft-20 mb-1"></i> +62 813-8316-7850<br><br>
                            Jombang, Jawa Timur Indonesia</p>
                        </div>
                    </div>
                </div>
                <hr>
                <p class="text-center mt-5 ml-3"> &copy; Copyright <strong class="text-theme">Alfian Taufani</strong>  2021.</p> 
            </div>
        </div>
    </section>

    <!-- jQuery Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!-- Feather Icon -->
    <script src="https://unpkg.com/feather-icons@4.28.0/dist/feather.min.js"></script>
    <!-- AOS JS -->
    <script src="assets/js/aos-master/dist/aos.js"></script>
    <!-- Owl Carousel JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
    <!-- Typed JS -->
    <script src="https://unpkg.com/typed.js@2.0.8/lib/typed.js"></script>

    <script>
        $(function(){
            feather.replace(); 
            AOS.init();

            //Event carousel
            $("#events").owlCarousel({
                loop:true,
                margin:0,
                items:3,
                autoPlay: 500,
                responsive:{
                    0: {
                        items: 1
                    },
                    300: {
                        items: 1.3,
                        center: true
                    },
                    768: {
                        items: 1.5
                    },
                    1000: {
                        items: 2.1
                    },
                    1200: {
                        items: 2.5
                    },
                    1440: {
                        items: 2.7
                    }
                },
                singleItem : false,
                dots: false,
                nav: true,
                navText : ["",""]
            });
            $(".btn-event-show").collapse();

            // Typed.js
            if ($(".text-slider").length == 1) {
                var typed_strings = $(".text-slider-items").text();
                var typed = new Typed(".text-slider", {
                    strings: typed_strings.split(", "),
                    typeSpeed: 50,
                    loop: true,
                    backDelay: 1000,
                    backSpeed: 30,
                });
            }
            if ($(".text-slider-web").length == 1) {
                var typed_strings = $(".text-slider-web-items").text();
                var typed = new Typed(".text-slider-web", {
                    strings: typed_strings.split(", "),
                    typeSpeed: 50,
                    loop: true,
                    backDelay: 1000,
                    backSpeed: 30,
                });
            }
        });

        var path = location.pathname.split('/');
        var url = location.origin + '/' + path[1];
        $('ul.navbar-nav li a').each(function(){
            if($(this).attr('href').indexOf(url) !== -1){
                $(this).parent().addClass('active');
            }
        });
    </script>
</body>
</html>